<div id='tab_div'>
  <%= render :partial => "layouts/flash_msg" %>

  <dl class="col2">
    <dd>
      <fieldset>
        <p class="legend">Session Information</p>
        <table class="style1">
            <tr>
               <td class="key">Server Name</td>
              <td class="wide">
                <%= h(session[:vmdb_name]) %>
              </td>
            </tr>
            <tr>
               <td class="key">Version</td>
              <td class="wide">
                <%= h(session[:vmdb][:version] + "." + session[:vmdb][:build]) %>
              </td>
            </tr>
            <tr>
               <td class="key">User Name</td>
              <td class="wide">
                <%= h(session[:username]) %>
              </td>
            </tr>
            <tr>
              <td class="key">User Role</td>
              <td class="wide">
                <%= h(@temp[:user_role]) %>
              </td>
            </tr>
            <tr>
               <td class="key">Browser</td>
              <td class="wide">
                <%= h(browser_info("name")) %>
              </td>
            </tr>
            <tr>
               <td class="key">Browser Version</td>
              <td class="wide">
                <%= h(browser_info("version")) %>
              </td>
            </tr>
            <tr>
               <td class="key">Browser OS</td>
              <td class="wide">
                <%= h(browser_info("os")) %>
              </td>
            </tr>
        </table>
      </fieldset>
    </dd>
</div>
